@model WebUI.Models.PublicDrawingsViewModel

@{
    ViewBag.Title = "Home Draw - Public Drawings";
    Layout = "~/Views/Shared/_DefaultUserLayout.cshtml";
}

<div class="container-fluid h-100 p-0 m-0">
    <div class="row p-5 m-0">
        @for (int i = 0; i < 12; i++)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Milan's Drawing</h5>
                        <p class="card-text">Created by: Milan Miscevic</p>
                        <a href="#" class="btn btn-block btn-outline-info">Join</a>
                    </div>
                </div>
            </div>
        }



    </div>
</div>

