@model WebUI.Models.PublicDrawingsViewModel

@{
    ViewBag.Title = "Home - Public Drawings";
    Layout = "~/Views/Shared/_DefaultUserLayout.cshtml";
}
<body style="background-image: url('../../Content/backgrounds/house1.jpg'); background-size:cover;">

    @*<h2 class="mt-5">PublicRooms</h2>*@

    @*<table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Drawing</th>
                    <th scope="col" class="text-center">Creator</th>
                    <th scope="col" class="text-center">Open</th>
                    <th scope="col" class="text-center">Remove</th>
                </tr>
            </thead>
            <tbody>

                @{ int counter = 1; }

                @foreach (var drawing in Model.PublicDrawings)
                {
                    if (drawing != null)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td class="text-center">@drawing.Name</td>
                            <td class="text-center">Creator ID</td>
                            <td class="text-center">
                                @Html.ActionLink("Enter", "OpenDrawing", "Drawing", new { drawing.DrawingID, Model.DrawingPassword }, new { @class = "btn btn-info mb-2" })
                            </td>
                            <td class="text-center">
                                @using (Html.BeginForm("DeleteDrawing", "Drawing"))
                                {
                                    @Html.Hidden("DrawingId", drawing.DrawingID)
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                }
                            </td>
                        </tr>
                    }

                    counter++;
                }
            </tbody>
        </table>*@

    
</body>






