html {
    height: 100%;
}

body {
    height: 100%;
}

.layoutBodySize {
    height: 100%;
}

.validationSummary {
    color: white;
    list-style-type: none;
}

    .validationSummary ul {
        list-style-type: unset;
        padding: 0px 0px 0px 0px;
    }
