html {
    height: 100%;
}

body {
    height:100%;
}

.layoutBodySize {
    height: 100%;
}

.settingsIcon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    top:15px;
    right:30px;
    transition: 0.2s;
}

.settingsIcon:hover {
    color: darkgray;
    transition: 0.2s;
}

.iconButton {
    color: black;
    max-width:2.8em;
    max-height:2.8em;
    cursor: pointer;
}

.iconButton:hover {
    padding: 5px 5px 5px 5px;
    transition:0.4s !important;
}



.drawingSurface {
    background-size: 50px 50px;
    background-color: #212529;
    background-image: linear-gradient(to right, #464646 1px, transparent 0px), linear-gradient(to bottom, #464646 1px, transparent 0px);
}

.pointerEvents {
    pointer-events: none !important;
}

.drawingMenuIcon {
    color: white;
    font-size: 35px;
    cursor: pointer;
    top: 15px;
    right: 100px;
    transition: 0.2s;
}

.drawingMenuIcon:hover {
    color: darkgray;
    transition: 0.2s;
}

.drawingMenu {
    /*display:none;*/
}

.hidden {
    display:none;
}
